{{define "navbar"}}
{{$data := .}}
<nav class="navbar is-link is-fixed-top is-spaced is-info">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>


    <div class="navbar-menu" id="menu">
        <div class="navbar-end">
            <a class="navbar-item is-info" href="#about">
                <span>{{.About}}</span>
            </a>
            <a class="navbar-item is-info" href="#skills">
                <span>{{.Skills}}</span>
            </a>
            <a class="navbar-item is-info" href="#knowledge">
                <span>{{.Knowledge}}</span>
            </a>
            <a class="navbar-item is-info" href="#education">
                <span>{{.Education}}</span>
            </a>
            <a class="navbar-item is-info" href="#experience">
                <span>{{.Experience}}</span>
            </a>
            <!--<a class="navbar-item is-info" href="#links">
                <span>{{.Links}}</span>
            </a>-->
        </div>
    </div>
</nav>
{{end}}