{{define "resume"}}
{{$data := .}}
<!doctype html>

<html lang={{$data.CurrLang}}>
    <head>
        <meta charset="utf-8">

        <title>Portfolio</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/img/icon/favicon.ico"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Olivier's work experience and projects over the years">
        <meta name="author" content="Olivier Racette"> 

        <!--Replace with local verson some time eh-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        {{template "navbar" $data.NavbarItems}}

        {{template "hero" $data.Person}}

        {{template "about" $data.Info}}

        {{template "skills" $data.Skills}}

        {{template "knowledge" $data.Knows}}

        {{template "education" $data.Edus}}

        {{template "experience" $data.Exps}}

        {{template "links"}}

        {{template "footer" $data.LangButton}}
        
        <script src="../static/js/script.js"></script>
    </body>
</html>
{{end}}