.bottom-spacer{
    margin-bottom: 2em;
}

.center-text{
    text-align: center;
}


.hover-grow {
    transition: all 0.2s ease-in-out;
  }

.hover-grow:hover {
    transform: scale(1.2);
}  



.hover-ripple{
    transition: background 0.8s;
}

.hover-ripple:hover {
    background:white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
    color: hsl(204, 86%, 53%);
}

.hover-ripple:active{
    background-color: hsl(204, 86%, 53%);
    background-size: 100%;
    transition: background 0s;
}

#edu-hero-1{
    margin-bottom: 0.5em;
}