{{define "education"}}
{{$edus := .}}
<section class="section" id="education">
    <div class="container">
        <h1 class="title">Education</h1>
    </div>
</section>


{{range $edus}}
  <section class="hero has-background-link-light has-text-centered" id="edu-hero-1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-link">
          {{.Degree}}
        </h1>
        <h2 class="subtitle has-text-link">
          {{.Institution}}, {{.Location}}, {{.Date}}
        </h2>
      </div>
    </div>
  </section>
{{end}}


{{end}}