{{define "education"}}
<section class="section" id="education">
    <div class="container">
        <h1 class="title">Education</h1>
    </div>
</section>

<section class="hero has-background-link-light has-text-centered" id="edu-hero-1">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-link">
          B.Sc. Computer Science
        </h1>
        <h2 class="subtitle has-text-link">
          Concordia University, Montréal, 2020
        </h2>
      </div>
    </div>
</section>
{{end}}