{{define "experience"}}
{{$exps := .}}
<section class="section" id="experience">
    <div class="container bottom-spacer">
        <h1 class="title">Experience</h1>
    </div>
    <div class="container">
        <div class="columns is-multiline">
            {{range $exps}}
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{.Title}}
                        </p>
                    </header>

                    <div class="card-content">
                        {{.Description}}
                    </div>

                    <footer class="card-footer">
                        <p class="card-footer-item"><i class="fas fa-location-arrow has-text-info"></i>{{.Company}}</p>
                        <p class="card-footer-item"><i class="fas fa-calendar-alt has-text-info"></i>{{.Start}} - {{.Stop}}</p>
                    </footer>
                </div>
            </div>
            {{end}}  
        </div>
    </div>
</section>
{{end}}