{{define "knowledge"}}
{{$knows := .}}
<section class="section" id="knowledge">
    <div class="container bottom-spacer">
        <h1 class="title">Knowledge</h1>
    </div>

    <div class="container">
      <div class="columns is-multiline is-centered">
      
        {{range $knows}}
        <div class="column is-4">
          <div class="tile is-child box notification is-info hover-ripple">
            <p class="subtitle has-text-centered">{{.Name}}</p>
          </div>
        </div>
        {{end}}
        
      </div>
    </div>
</section>
{{end}}