{{define "knowledge"}}
<section class="section" id="knowledge">
    <div class="container bottom-spacer">
        <h1 class="title">Knowledge</h1>
    </div>

    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">OpenGL Pipeline</p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">Networking (UDP/TCP)</p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">Software Architecture</p>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">Artificial Intelligence</p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">Machine Learning</p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box notification is-info hover-ripple">
                  <p class="subtitle has-text-centered">Computer Vision</p>
                </article>
            </div>     
        </div>
    </div>
</section>
{{end}}